/* Estilo global */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ECF0F1; /* Cinza Claro */
  color: #2C3E50; /* Azul Escuro */
}

/* Contêiner principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Cabeçalho */
header {
  background-color: #2C3E50; /* Azul Escuro */
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #3498DB; /* Azul Claro para o efeito */
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
  background-color: #3498DB; /* Azul Claro */
  color: white;
}

/* Seção principal */
.main {
  padding: 40px 20px;
  background-color: #FFFFFF; /* Branco */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main h2 {
  color: #2C3E50; /* Azul Escuro */
  border-bottom: 2px solid #3498DB; /* Azul Claro para a linha de destaque */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Cards de projetos */
.project-card {
  background-color: #FFFFFF; /* Branco */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  margin-top: 0;
  color: #2C3E50; /* Azul Escuro */
}

.project-card p {
  color: #7F8C8D; /* Cinza Escuro */
}

/* Rodapé */
footer {
  background-color: #2C3E50; /* Azul Escuro */
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 4px solid #3498DB; /* Azul Claro */
}

footer p {
  margin: 0;
}

/* Formulários e botões */
input[type="text"],
input[type="email"],
textarea {
  width: 60%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #3498DB; /* Azul Claro */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980B9; /* Azul Escuro */
}


